@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat+Alternates:wght@500;600&family=Montserrat:wght@900&family=Open+Sans:wght@300;400&family=Pacifico&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-peach: #FFE2E2;
    --salmon-2: #EF574E;
    --ducky-yellow: #FFE248;
    --ruby: #D81E5B;
    --bone-1: #FFF8EB;
    --bone-2: #FDF0D5;
    --light-purple: #7B61FF;
    --dust-purple: #ECE0FE;
    --blue-purple: #480CA8;
    --sweet-black: #333333;
    --logo-text-md: 28px;
    --section-size: 16px;
    --empty-logo: 153.81px;
    --logo-sm: 18px;
    --logo-md: 35px;
    --logo-lg: 52px;
    --lg-h1: 70px;
    --lg-h2: 35px;
    --sm-text: 12px;
    --md-text: 17px;
    --lg-text: 22px;
    --xl-text: 27px;

}


header {
    height: 100vh;
    background-color: var(--salmon-2);
}

.empty-nav {
    width: var(--empty-logo);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .nav-bar-items {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7vw;
}

span.elegant-yellow {
    color: var(--ducky-yellow);
    font-family: 'Pacifico', cursive;
    font-size: var(--xl-text);
}

.logo-sm {
    width: var(--logo-sm);
}

.logo-md {
    width: var(--logo-md);
}


.logo-container {
    display: flex;
    align-items: center;
    color: var(--light-peach);
    font-size: var(--logo-text-md);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}

.logo-container img {
    margin-right: 10px;
}

.section-container {
    display: flex;
    justify-content: center;
    width: 40vw;
}

.section-container ul > li {
    display: inline;
}

.section-container ul > li > a {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
    font-weight: 500;
}

.text-container {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--lg-text);
}

.main-intro {
    margin-top: 20px;
}

.center-text {
    text-align: center;
}

h1.big-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: var(--lg-h1);
}

h2.subtitle {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    font-size: var(--lg-h2);
}

.main-intro > .text-container > p, .main-intro > .text-container > h1 {
    color: var(--light-peach);
}

.main-intro > .text-container > p {
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button.telaxia-button {
    border-radius: 23.17px;
    border-style: none;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: var(--md-text);
}

button#open-in-web {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: var(--ruby);
    color: white;
    padding: 10px 20px;
}

button#open-in-web span,  button#open-in-github span {
    margin: 6px;
}

.main-intro .img-container img {
    width: 85%;
}

.img-container {
    display: flex;
    margin-top: 30px;
    
}

.img-container.center {
    justify-content: center;
}

main {
    height: 100vh;
}

#services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bone-1);
}

#services-section .services .service-container:nth-child(odd) {
    background-color: var(--bone-1);
}
#services-section .services .service-container:nth-child(even)  {
    background-color: var(--bone-2);
}

.service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


#services-section .services .service-container:nth-child(1) {
    flex-direction: row;
}

#services-section .services .service-container:nth-child(2) {
    flex-direction: row-reverse;
}

#services-section .services .service-container:nth-child(3) {
    padding-top: 30px;
    flex-direction: column-reverse;
}

#services-section .services .service-container:nth-child(1) img {
    width: 500px;
}

#services-section .services .service-container:nth-child(2) img {
    width: 400px;
}

#services-section .services .service-container:nth-child(3) img {
    width: 500px;
}


.service-container .text-container {
    font-weight: 300;
}

.service-container .text-container p {
    margin-top: 10px;
}

#services-section h1.big-title {
    color: var(--sweet-black);
    margin: 10px;
}

#about-us-section {
    background-color: var(--light-purple);
}

#about-us-section {
    color: var(--dust-purple);
}

#open-in-github {
    margin: 20px 0;
    display: flex;
    align-items: center;
    background-color: var(--blue-purple);
    padding: 10px 20px;
    color: var(--dust-purple);
    font-size: ;
}

@media (max-width: 767px) {
    .section-container {
        display: none;
    }
    .nav-bar-items {
        display: flex;
        justify-content: center;
    }
    .empty-nav {
        display: none;
    }
    .logo-container {
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    
}

@media (min-width: 1200px) {
    
}