@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Gothic+A1&family=Montserrat+Alternates:wght@500;600;700&family=Montserrat:wght@600;900&family=Open+Sans:wght@300;400&family=Oxygen:wght@300;400;700&family=Pacifico&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-peach: #FFE2E2;
    --salmon-2: #EF574E;
    --ducky-yellow: #FFE248;
    --ruby: #D81E5B;
    --ruby-2: #F32761;
    --bone-1: #FFF8EB;
    --bone-2: #FDF0D5;
    --light-purple: #7B61FF;
    --dust-purple: #ECE0FE;
    --blue-purple: #480CA8;
    --dark-purple: #391D5D;
    --sweet-black: #333333;
    --green-dark-blue: #3E708B;
    --gray-600: #A5ADBB;
    --gray-200: #EBECED;
    --logo-text-md: 28px;
    --section-size: 16px;
    --empty-logo: 153.81px;
    --logo-sm: 18px;
    --logo-md: 35px;
    --logo-lg: 52px;
    --lg-h1: 70px;
    --lg-h2: 35px;
    --sm-text: 12px;
    --md-text: 17px;
    --lg-text: 22px;
    --xl-text: 27px;

}

li {
    list-style: none;
}

.card {
    display: inline-block;
    border-radius: 17px;
    padding: 25px 20px;
}

.card h3.card-name {
    font-family: Montserrat,"sans-serif";
}
.card h2 {
    font-family: Montserrat Alternates,"sans-serif";
    font-weight: 700;
    margin-bottom: 20px;
}

.card ul {
    margin: 20px 0px 20px 0;
}
.card li {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    margin: 20px 0;
}

.card li span {
    display: inline-block;
    margin-left: 5px;
}

.card li.not-include {
    color: var(--gray-600);
}

.card.free button {
    background-color: var(--ruby-2);
    color: var(--bone-2);
    padding: 10px 30%;
}

.card.free button:hover {
    background-color: var(--dust-purple);
    color: var(--ruby-2);
}

.card.free {
    background-color: var(--bone-2);
}

.card.pay button {
    background-color: var(--green-dark-blue);
    color: var(--bone-2);
    padding: 10px 30%;
}
.card.pay button:hover {
    background-color: var(--bone-2);
    color: var(--green-dark-blue);
}

.card.pay {
    color: var(--gray-200);
    background-color:var(--dark-purple) ;
}

header {
    height: 100%;
    background-color: var(--salmon-2);
}

.empty-nav {
    width: var(--empty-logo);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
}

nav .nav-bar-items {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7vw;
}

span.elegant-yellow {
    color: var(--ducky-yellow);
    font-family: 'Pacifico', cursive;
    font-size: var(--xl-text);
}

.logo-sm {
    width: var(--logo-sm);
}

.logo-md {
    width: var(--logo-md);
}


.logo-container {
    display: flex;
    align-items: center;
    color: var(--light-peach);
    font-size: var(--logo-text-md);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}

.logo-container img {
    margin-right: 10px;
}

.section-container {
    display: flex;
    justify-content: center;
    width: 40vw;
}

.section-container ul > li {
    display: inline;
}

.section-container ul > li > a {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.text-container {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--lg-text);
}

.main-intro {
    margin-top: 20px;
}

.center-text {
    text-align: center;
}

h1.big-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: var(--lg-h1);
}

h2.subtitle {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    font-size: var(--lg-h2);
}

.main-intro > .text-container > p, .main-intro > .text-container > h1 {
    color: var(--light-peach);
}

.main-intro > .text-container > p {
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button.telaxia-button {
    border-radius: 23.17px;
    border-style: none;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: var(--md-text);
    transition: background-color 0.3s ease-in-out;
}

button#open-in-web {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: var(--ruby);
    color: white;
    padding: 10px 20px;
}

button#open-in-web span,  button#open-in-github span {
    margin: 6px;
}

.main-intro .img-container img {
    width: 70%;
    max-width: 1200px;
    margin-bottom: 30px;
}

.img-container {
    display: flex;
    margin-top: 30px;
    
}

.img-container.center {
    justify-content: center;
}

main {
    height: 100vh;
}

#services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bone-1);
    height: auto;
}

#services-section .services .service-container:nth-child(odd) {
    background-color: var(--bone-1);
}
#services-section .services .service-container:nth-child(even)  {
    background-color: var(--bone-2);
}

.service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


#services-section .services .service-container:nth-child(1) {
    flex-direction: row;
}

#services-section .services .service-container:nth-child(2) {
    flex-direction: row-reverse;
}

#services-section .services .service-container:nth-child(3) {
    padding-top: 30px;
    flex-direction: column-reverse;
}

#services-section .services .service-container:nth-child(1) img {
    width: 500px;
}

#services-section .services .service-container:nth-child(2) img {
    width: 400px;
}

#services-section .services .service-container:nth-child(3) img {
    width: 500px;
}

#services-section .services .service-container, #about-us-section {
    padding: 40px 0;
}



.service-container .text-container {
    font-weight: 300;
}

.service-container .text-container p {
    margin-top: 10px;
}

#services-section h1.big-title {
    color: var(--sweet-black);
    margin: 10px;
}

#about-us-section {
    background-color: var(--light-purple);
}

#about-us-section {
    color: var(--dust-purple);
}

#open-in-github {
    margin: 20px 0;
    display: flex;
    align-items: center;
    background-color: var(--blue-purple);
    padding: 10px 20px;
    color: var(--dust-purple);
    font-size: var(--md-text);
}

#plans-section {
    padding-top: 60px;
    background-color: var(--blue-purple);
}

#plans-section > .text-container {
    color: var(--dust-purple);
    margin-bottom: 40px;
}

#plans-section > .text-container p {
    margin-top: 20px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 90px;
}

#for-designers > h3, #for-buyers > h3  {
    font-family: Montserrat, "sans-serif";
    color: white;
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 30px;
}

#for-buyers {
    padding-bottom: 10px;
}


footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #18181C;
    font-family: "Gothic A1";
}

@media (min-height: 768px) {
    header {
        height: 100vh;
        background-color: var(--salmon-2);
    }
}

@media (max-width: 767px) {

    .cards-container {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 90px;
        align-items: center;
    }

    .section-container {
        display: none;
    }
    .nav-bar-items {
        display: flex;
        justify-content: center;
    }
    .empty-nav {
        display: none;
    }
    .logo-container {
        margin-right: 0;
    }
    #services-section .services .service-container:nth-child(1),
    #services-section .services .service-container:nth-child(2),
    #services-section .services .service-container:nth-child(3) {
        flex-direction: column;
    }

    #services-section .services .service-container:nth-child(1) img,
    #services-section .services .service-container:nth-child(2) img,
    #services-section .services .service-container:nth-child(3) img {
        width: 380px;
    }

    #services-section .services .service-container:nth-child(1) .text-container br,
    #services-section .services .service-container:nth-child(2) .text-container br
    #services-section .services .service-container:nth-child(3) .text-container br {
        display: none;
    }
    #services-section .services .service-container:nth-child(1) .text-container,
    #services-section .services .service-container:nth-child(2) .text-container,
    #services-section .services .service-container:nth-child(3) .text-container {
        text-align: center;
    }

    .main-intro {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90%;
    }

    .main-intro .text-container, .service-container .text-container, #about-us-section .text-container {
        font-size: 1rem;
    }
    
    #services-section .services .service-container, #about-us-section {
        padding: 0;
    }
    

    #services-section > h1,
    #about-us-section .text-container h1 {
        font-size: 3.2rem;
    }



}

/* Animations */
.section-container > ul > li > a:hover {
    /* color: var(--ruby); */
    color: #333333;
}

button#open-in-web:hover {
    background-color: white;
    color: var(--ruby);

}

#about-us-section .img-container .logo-telaxia {
    transition: all 0.9s ease-in;
}

#about-us-section .img-container .logo-telaxia:hover {
    transform: rotateZ(720deg);
}

#open-in-github:hover {
    background-color: var(--dust-purple);
    color: var(--blue-purple);
}

@media (min-width: 768px) and (max-width: 991px) {
    
    #for-designers .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 20px;
        margin-bottom: 80px;
    }

    .cards-container .card:nth-child(odd) {
        justify-self: end;
    }
    .cards-container .card:nth-child(even) {
        justify-self: start;
    }
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    #for-designers .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 20px;
        margin-bottom: 80px;
    }

    .cards-container .card:nth-child(odd) {
        justify-self: end;
    }
    .cards-container .card:nth-child(even) {
        justify-self: start;
    }
    
}

@media (min-width: 1200px) {
    
}